<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>
            <th:block layout:fragment="title">TOMO</th:block>
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
    </head>

    <script>
        Date.prototype.yyyyMMddHHmmss = function () {
            var yyyy = this.getFullYear().toString();
            var MM = (this.getMonth() + 1).toString();
            var dd = this.getDate().toString();
            var HH = this.getHours().toString();
            var mm = this.getMinutes().toString();
            var ss = this.getSeconds().toString();
            return yyyy + '-'+(MM[1] ? MM : '0'+MM[0]) + '-'+(dd[1] ? dd : '0'+dd[0]) + ' ' + (HH[1]?HH : '0'+HH[0]) + ':' + (mm[1]?mm : '0'+mm[0]) + ':'+(ss[1]?ss:'0'+ss[0]);
        }
        var app = angular.module('MyApp', ['ngAnimate','ngSanitize'])
        app.controller('memoController', function ($scope, $compile) {

            $scope.memos = [{
                    id: '0',
                    context: '<h1>0번메모</h1>',
                    dateOfCreate: '2020-03-06 14:27:20',
                    state: '0',
                    fix: '0'
                },
                {
                    id: '1',
                    context: '1번 메모',
                    dateOfCreate: '2020-03-06 14:27:21',
                    state: '0',
                    fix: '0'
                },
                {
                    id: '2',
                    context: '고정된 2번메모',
                    dateOfCreate: '2020-03-06 14:27:22',
                    state: '0',
                    fix: '1'
                },
                {
                    id: '3',
                    context: 'hide된 3번메모',
                    dateOfCreate: '2020-03-06 14:27:23',
                    state: '1',
                    fix: '0'
                }
            ];
            $scope.config = {
                editMode: false,
                editTarget: '-1',
                tempId: 4,
                eventDelay: 0
            };
            $scope.addMemo = function () {
                var date = new Date().yyyyMMddHHmmss();
                $scope.memos.unshift({
                    id: $scope.config.tempId++,
                    context: 'New?',
                    dateOfCreate: date,
                    state: '0',
                    fix: '0'
                });
            }
            $scope.removeMemo = function (memo){
                var index = $scope.memos.indexOf(memo);
                $scope.memos.splice(index,1);
                $scope.config.editMode=false;
            }
            $scope.editMemo = function (id){
                if($scope.config.eventDelay!=0)
                    return;
                $scope.config.eventDelay = 1;
                if(!$scope.config.editMode){
                    $scope.config.editMode = true;
                    $scope.config.editTarget = id;
                }
                setTimeout(function() {
                    $scope.config.eventDelay = 0;
                }, 300);
            }
            $scope.updateMemo = function (memo){
                if($scope.config.eventDelay!=0)
                    return;
                var context = document.getElementById("memo_context_"+memo.id).innerHTML;
                memo.context = context;
                $scope.config.eventDelay = 1;
                $scope.config.editMode = false;
                $scope.config.editTarget = -1;
                setTimeout(function() {
                    $scope.config.eventDelay = 0;
                }, 300);
            }
            $scope.setPin = function (set, memo) {
                $scope.config.eventDelay = 1;
                var m = $scope.memos[$scope.memos.indexOf(memo)];
                m.fix = set ? 1 : 0;
                setTimeout(function() {
                    $scope.config.eventDelay = 0;
                }, 100);
            }
        });
    </script>
    <body>
        <header>
            <div class="logo" style="height: 100%;">
                <a href="./memo"><img src="img/logo.png" height="32" alt="logo" style="margin:6px;"/></a>
            </div>
            <div class="menu">
                <ul style="float: left; display: inline-block;">
                    <li style="display: inline-block;"><a href="./memo">메모</a></li>
                    <li style="display: inline-block;"><a href="./manage">관리</a></li>
                </ul>
            </div>
            <div class="account">
                로그인
            </div>
        </header>
        <div class="container">
            <section layout:fragment="content"></section>
        </div>
    </body>
</html>