
<div class="modal" id="calendarModal" ng-click="cancelOutside($event)">
    <div id="modal_content" ng-init="show()" class="modal-content">
        <div class="modal-header">
            <span class="close" ng-click="cancel()"><i class="fas fa-times"></i></span>
            <h1>{{today}}</h1>
        </div>
        <div class="modal-body">
            <script>
                $("textarea").keydown(function(e){
                    if (e.which == 13 && !e.shiftKey)
                    {
                        e.preventDefault();
                    }
                });
            </script>
            <form class="form_input_day" method="post">
                <table>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <div class="tab_menu_container">
                                <span ng-click="tabMenuClick(0)" class="tab_menu_btn" ng-class="tabMenuIndex == 0 ? 'tab_menu_btn on' : 'tab_menu_btn'"><i class="far fa-calendar-plus"></i> 일정</span>
                                <span ng-click="tabMenuClick(1)" class="tab_menu_btn" ng-class="tabMenuIndex == 1 ? 'tab_menu_btn on' : 'tab_menu_btn'"><i class="far fa-calendar-check"></i> 할 일</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <input class="fs-18" ng-model="day_title" id="day_title" name="title" type="text" maxlength="20" placeholder="제목"/>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="far fa-comment-dots fs-16"></i></td>
                        <td colspan="2" rowspan="2">
                            <textarea class="fs-14" ng-model="day_description" name="title" placeholder="설명 추가(50자 이내)" maxlength="50" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr><td colspan="3"></td></tr>
                    <tr ng-show="tabMenuIndex==0">
                        <td><i class="far fa-clock fs-16"></i></td>
                        <td style="text-align: left; padding-left:10px;" class="fs-13">끝나는 날짜</td>
                        <td style="height: 36px;">
                            <input class="fs-13" datetime="yyyy-MM-dd" min="{{dateFormat | date:'yyyy-MM-dd'}}" ng-model="date_event_end" id="day_date_event_end" name="date_event_end" type="date"/>
                        </td>
                    </tr>
                    <tr ng-show="tabMenuIndex==0">
                        <td colspan="3">
                            <div class="color-picker">
                                <div class="base-colors">
                                    <div ng-class="day_event_color===$index ? 'color active' : 'color'" ng-click="changeColor($index)" ng-repeat="color in colorPickerColors" ng-style="getColorPickColors(color)">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="tabMenuIndex==1">
                        <td><i class="far fa-clock fs-16"></i></td>
                        <td class="fs-13" style="height: 36px;">
                            <input id="chk_allday" class="chk_target_time" type="checkbox" ng-model="isAllDay" style="display: none;"/>
                            <label for="chk_allday" class="check">
                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                    <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                    <polyline points="1 9 7 14 15 4"></polyline>
                                </svg>
                            </label>
                            <label for="chk_allday" class="m-l-5">하루</label>
                        </td>
                        <td>
                            <input class="fs-13" ng-show="!isAllDay" datetime="HH:mm" ng-model="day_event_time" id="day_time" name="event_time" type="time"/>
                        </td>
                    </tr>
                    <tr ng-show="tabMenuIndex==1">
                        <td><i class="far fa-star"></i></td>
                        <td class="fs-13" style="text-align: left; padding-left:10px; " ng-bind="day_event_point_text"></td>
                        <td>
                            <input ng-change="setEventPoint($event)" class="fs-14" ng-model="day_event_point" id="day_point" name="event_point" type="range" min="0" max="4"/>
                        </td>
                    </tr>
                </table>

                <button id="day_submit" ng-click="addEvent()" name="submit">스케쥴 추가</button>
            </form>

            <div class="container_day_list">
                <div class="day_list">
                    <div class="item" ng-repeat="event in events" ng-click="viewEvent(event, $event)">
                        <table>
                            <tr>
                                <td>
                                    <span ng-show="event.event_type===1" style="display:inline-block; padding:4px; margin-left:10px; margin-right:10px;"><i class="far fa-calendar-check"/></span>
                                    <span ng-show="event.event_type===0" ng-style="getColorPickColors(colorPickerColors[event.event_color])" style="display:inline-block; border-radius: 100%; padding:6px; margin-left:10px; margin-right:10px;"></span>
                                </td>
                                <td>
                                    <h3 class="fs-14" ng-class="checkingTodoClear(event)">{{event.title}}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p class="fs-12">{{event.event_description}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>