<div class="modal" ng-click="cancelOutside($event)">
    <div id="modal_event_content" ng-init="show()" class="modal_event-content">
        <div class="modal-header">
            <span class="close" ng-click="cancel()"><i class="fas fa-times"></i></span>
            <h1>{{event.date_event}}</h1>
        </div>
        <div class="modal-body">
            <script>
                $("textarea").keydown(function(e){
                    if (e.which == 13 && !e.shiftKey)
                    {
                        e.preventDefault();
                    }
                });
            </script>
            <form class="form_input_day" method="post" ng-model="event">
                <ul>
                    <li>
                        <input ng-model="day_title" id="day_title" name="title" type="text" maxlength="20" placeholder="제목" ng-value="event.title"/>
                    </li>
                    <li>
                        <textarea ng-model="day_description" name="title" placeholder="설명 추가(50자 이내)" maxlength="50" rows="3" ng-value="event.event_description"></textarea>
                    </li>
                </ul>
                <button id="day_save" name="submit">저장</button>
            </form>
        </div>
    </div>
</div>