<div class="modal" id="calendarModal" ng-click="cancelOutside($event)">
    <div id="modal_content" ng-init="show()" class="modal-content">
        <div class="modal-header">
            <span class="close" ng-click="cancel()">&times;</span>
            <h1>2020년 3월 21일</h1>
        </div>
        <div class="modal-body">
            <form method="post">
                <ul>
                    <li>
                        <i class="fas fa-calendar-day"></i>
                        <input id="day_title" name="title" type="text" placeholder="제목"/>
                    </li>
                    <li>
                        <i class="fas fa-align-left"></i>
                        <input id="day_title" name="title" type="text" placeholder="설명"/>
                    </li>
                </ul>
                <label for="day_submit">추가</label>
                <input id="day_submit" name="submit" type="submit"/>
            </form>
            <hr/>
            <div class="day_list">
                <div class="item">
                    <span style="display:inline-block; border-radius: 100%; background-color: royalblue; padding:4px; margin-left:10px; margin-right:10px;"></span>
                    1번 리스트
                </div>
                <div class="item">
                    <span style="display:inline-block; border-radius: 100%; background-color: royalblue; padding:4px; margin-left:10px; margin-right:10px;"></span>
                    2번 리스트
                </div>
                <div class="item">
                    <span style="display:inline-block; border-radius: 100%; background-color: royalblue; padding:4px; margin-left:10px; margin-right:10px;"></span>
                    3번 리스트
                </div>
            </div>
        </div>
    </div>
</div>