<div class="modal" ng-click="cancelOutside($event)">
    <div id="modal_event_content" ng-init="show()" class="modal_event-content">
        <div class="modal-header event">
            <span class="modal_menu">
                <span class="modal_menu_cover">
                    <i class="far fa-trash-alt" ng-click="removeEvent()"></i>
                </span>
                <span class="modal_menu_cover" ng-click="saveEvent()">
                    <i class="fas fa-check"></i>
                </span>
            </span>
            <span class="close" ng-click="cancel()"><i class="fas fa-times"></i></span>
        </div>
        <div class="modal-body event">
            <script>
                $("textarea").keydown(function(e){
                    if (e.which == 13 && !e.shiftKey)
                    {
                        e.preventDefault();
                    }
                });
            </script>
            <form class="form_todo_day" method="post">
                <table>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <input class="fs-20" ng-model="event.title" id="day_title" name="title" type="text" maxlength="20" placeholder="제목"/>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="far fa-clock fs-16"></i></td>
                        <td>
                            <input class="fs-16" datetime="yyyy-MM-dd" ng-model="event.event_time_temp" id="day_day" name="event_day" type="date" maxlength="20" placeholder="날짜"/>
                        </td>
                        <td>
                            <input class="fs-16" datetime="HH:mm" ng-model="event.event_time_temp" id="day_time" name="event_time" type="time" maxlength="20" placeholder="시간"/>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="far fa-comment-dots fs-16"></i></td>
                        <td colspan="2" rowspan="3">
                            <textarea class="fs-14" ng-model="event.event_description" name="title" placeholder="설명 추가(50자 이내)" maxlength="50" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>