<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:header th:fragment="header">
    <header>
        <div class="logo" style="height: 60px;line-height: 60px;top:0;left:14px;position: absolute;">
            <a href="./"><img src="img/logo.png" height="32" alt="logo" style="margin-top:14px;"/></a>
        </div>
        <div class="account" th:object="${account}">
            <img sec:authorize="isAuthenticated()" th:src="${account} ? ${account.getProfile_image_url()}" width="32" height="32"/>
            <span sec:authentication="name" sec:authorize="isAuthenticated()"></span>
            <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
        </div>
    </header>
</th:header>
</html>
