<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:header th:fragment="header">
    <header>
        <div class="logo" style="height: 60px;line-height: 60px;top:0;left:14px;position: absolute;">
            <a href="./"><img src="img/logo.png" height="32" alt="logo" style="margin-top:14px;"/></a>
        </div>
        <div class="account" th:object="${account}">
            <img onerror="this.src='/img/anonymous.png'" onclick="toggleProfile()" sec:authorize="isAuthenticated()" th:src="${account} ? ${account.getProfile_image_url()}" width="40" height="40"/>
            <a class="fs-14" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
        </div>
        <div class="account_remote">
            <div class="account_profile">
                <img onerror="this.src='/img/anonymous.png'" style="margin-top: 5px; border-radius: 100%;" sec:authorize="isAuthenticated()" th:src="${account} ? ${account.getProfile_image_url()}" width="32" height="32"/>
                <p th:text="${account} ? ${account.getNickname()}" sec:authorize="isAuthenticated()"></p>
                <p th:text="${account} ? ${account.getEmail()}" sec:authorize="isAuthenticated()"></p>
            </div>
            <span class="account_remote_list"><a sec:authorize="isAuthenticated()" th:href="@{/manage}">계정관리</a></span>
            <span class="account_remote_list"><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></span>
        </div>
    </header>
</th:header>
</html>
