<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:header th:fragment="header">
    <header>
        <div class="logo" style="height: 60px;line-height: 60px;top:0;left:14px;position: absolute;">
            <a href="./"><img src="img/logo.png" height="32" alt="logo" style="margin-top:14px;"/></a>
        </div>
        <div class="account">
            <img src="img/anonymous.png" width="32" height="32"/>
            <span>pkh879@gmail.com</span>
            <a href="/login">로그인</a>
        </div>
    </header>
</th:header>
</html>
