<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:mybar th:fragment="mybar">
    <div id="mybar" class="mybar" ng-app="BarApp" ng-controller="barController">

        <div class="m-t-0 m-b-0 m-l-10" style="display: inline-block;">
            <p class="fs-12 m-b-0 m-l-3" ng-bind="getToday()"></p>
            <p class="fs-18 m-t-0 m-l-0" ng-bind="getTodayName()" style="font-weight: 700"></p>
        </div>
        <div class="container_todo">
            <div class="todo_list">
                <span class="todo_title">할 일 목록 ({{events.length}})<span class="todo_toggle" ng-click="popupSortMenu()"><i class="fas fa-ellipsis-v"></i></span></span>
                <div class="container_todo_item">
                    <div class="todo_item" ng-repeat="event in events | orderBy:orderProperty" ng-click="select(event, $event)">
                        <span class="todo_check_cover" ng-click="clearEvent(event)"><span class="todo_check"></span></span>
                        <div class="todo_event_cover" ng-click="summaryEvent()">
                            <span class="todo_event_title">
                            {{event.title}}
                            </span>
                            <span ng-class="getEventTimeClass(event.date_event)" class="todo_event_time" ng-if="event.event_time_string != null">
                                <i class="far fa-clock"></i>
                                {{event.event_time_string}}
                            </span>
                        </div>
                    </div>
                    <div ng-show="events.length===0" ng-style="display()"  class="todo_clear" style="display: none; text-align: center; margin: 0 auto; width: 100%;">
                        <img class="m-t-50 todo_clear_logo" src="img/todo_clear.png" alt="todo_clear" width="150"/>
                        <p class="fs-12">할 일을 모두 완료했군요! :)</p>
                    </div>

                </div>
            </div>
            <div class="todo_complete">
                <span class="todo_title">완료한 일 ({{clearEvents.length}})<span class="todo_toggle" onclick="toggleTodoBar()"><i class="fas fa-grip-lines"></i></span></span>
                <div class="container_todo_item">
                    <div class="todo_item" ng-repeat="event in clearEvents" ng-click="select(event, $event)">
                        <span class="todo_check_cover" ng-click="clearEvent(event)"><span class="todo_check checked"><i class="fas fa-check"></i></span></span>
                        <div class="todo_event_cover">
                            <span class="todo_event_title clear">
                                {{event.title}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="todo_popup_menu">
                <div class="todo_popup_menu_item" data-tooltip-text="시간순" ng-click="setOrder(0)">
                    <i class="far fa-clock fs-16"></i>
                    <i class="fas fa-sort-up fs-12" style="display: inline; position: absolute; margin-top: 18px;"></i>
                </div>
                <div class="todo_popup_menu_item" data-tooltip-text="중요도순" ng-click="setOrder(1)">
                    <i class="far fa-star fs-16"></i>
                    <i class="fas fa-sort-down fs-12" style="display: inline; position: absolute; margin-top: 14px;"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="js/mybar.js"></script>
</th:mybar>
</html>
