header{
    width: 100%;
    height: 60px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px 0px 2px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.15);
    background-color: white;
    background-color: var(--header-background-color);
    color: #E5E5E5;
    color: var(--header-color);
}
header div{
    display: inline-block;
}
.search{
    margin: 0 auto;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid rgba(30,30,30,0.1);
    border: 1px solid var(--header-search-board-color);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    background-color: white;
    background-color: var(--header-search-background-color);
    color: #505050;
    color: var(--header-search-color);
    position: absolute;
    left: 300px;
    height: 35px;
    line-height: 35px;
    top:12px;
    width: calc(100% - 500px);
    max-width: 600px;
}

.search input{
    width: calc(100% - 100px);
    background-color: transparent;
    border:none;
    outline: none;
    font-size:16px;
    margin:0 0 0 10px;
    color: #505050;
    color: var(--header-search-color);
}
.search input:focus{
    outline: none;
}
.container_search_view{
    position: relative;
    width:100%;
    display: inline-block;
}
.search_view{
    top:-22px;
    left:0;
    position: absolute;
    border-radius: 3px;
    display: none;
    width: calc(100% - 90px);
    z-index: 3000;
    background-color: white;
    background-color: var(--header-search-background-color);
    border: 1px solid rgba(30,30,30,0.1);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.15);
    -webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.15);
}
.search_view span{
    margin: 5px;
}
.btn_cover{
    float: right;
    font-size:14px;
}
.btn_search_remove{
    cursor: pointer;
    display: none;
    text-align: center;
    height: 35px;
    width: 35px;
}
.btn_search{

    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0 -2px 0 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.account{
    float: right;
    height: 100%;
    margin-right: 20px;
    line-height: 60px;

}
.account a{
    color: #E5E5E5;
    color: var(--header-color);
}
.account img{
    margin-top:10px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
}
.account span{
    margin-left:42px;
    margin-right:10px;
    cursor: pointer;
}
.account span:hover{
    opacity: 0.8;
}

.account_remote{
    line-height: 16px;
    display: none;
    transition: 0.3s all ease-in-out;
    -webkit-transition:  0.3s all ease-in-out;
    -moz-transition:  0.3s all ease-in-out;
    position: absolute;
    top: 62px;
    right: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    background-color: var(--header-remote-background-color);
    /*box-shadow: 0 0 3px rgba(0,0,0,0.1);*/
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    z-index: 3000;
    text-align: center;
}
.account_remote p{
    line-height: 10px;
    font-size: 13px;
}
.account_remote a{
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    width: 100%;
    display: inline-block;
}

.account_remote_list{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: block;
}
.account_remote_list:hover{
    opacity: 0.8;
}

@media (max-width: 600px){
    .search{
        display: none;
    }
}