.fas.fa-cogs{
    color: royalblue;
    font-size: 24px;
    animation: menuOn 0.5s;
    -moz-animation: menuOn 0.5s; /* Firefox */
    -webkit-animation: menuOn 0.5s; /* Safari and Chrome */
    -o-animation: menuOn 0.5s; /* Opera */
}

@keyframes menuOn {
    from{
        color: #999999;
    }
    to {
        color: royalblue;
    }
}

.container_context h1{
    color: #333333;
    color: var(--manage-h1-color);
    font-size: 32px;
}
.container_context h3{
    color: #ACACAC;
    color: var(--manage-h3-color);
    font-size: 21px;
}
.container_context{
    min-height: 100%;
    background-color: rgba(255,255,255,0.9);
    background-color: var(--manage-background-color);
    color: #666666;
    color: var(--manage-color);
    border-left: 1px solid rgba(0,0,0,0.1);
}
.profile_header{
    z-index: 100;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.label_profile_button{
    display: inline-block;
    padding: .5em .75em;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border: 1px solid var(--common-border-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.label_profile_button:hover{
    background-color: rgba(0,0,0,0.05);
}

.label_profile_image{
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-radius: 100%;
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}
.label_profile_image:hover{
    background-color: rgba(230,230,230,1);
}
.form_manage_profile input[type="text"]{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
    color: var(--manage-h1-color);
    font-size: 32px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.form_manage_profile input[type="text"]:focus{
    outline: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid var(--manage-h1-color);
}

.form_manage_profile input[type="file"], input[type="submit"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.config{
    width: 700px;
    padding: 20px;
    max-width: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
    background-color: var(--common-main-background-color);
}
.config h3{
    margin: 0 0 20px 0;
    color: #666666;
}
.config_item{
    width: 100%;
    margin-bottom: 20px;
}
.dropdown{
    float: right;
    color:#333333;
    background-color: #f0f0f0;
    background-color: var(--manage-config-background-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 5px 0 5px 0;
    min-width: 160px;
    text-align: center;
}

.container_config_tgl{
    float: right;
}
.config_tgl {
    display: none;
}
.config_tgl, .config_tgl:after, .config_tgl:before, .config_tgl *, .config_tgl *:after, .config_tgl *:before, .config_tgl + .config_tgl_label {
    box-sizing: border-box;
}
.config_tgl::-moz-selection, .config_tgl:after::-moz-selection, .config_tgl:before::-moz-selection, .config_tgl *::-moz-selection, .config_tgl *:after::-moz-selection, .config_tgl *:before::-moz-selection, .config_tgl + .config_tgl_label::-moz-selection {
    background: none;
}
.config_tgl::selection, .config_tgl:after::selection, .config_tgl:before::selection, .config_tgl *::selection, .config_tgl *:after::selection, .config_tgl *:before::selection, .config_tgl + .config_tgl_label::selection {
    background: none;
}
.config_tgl + .config_tgl_label {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.config_tgl + .config_tgl_label:after, .config_tgl + .config_tgl_label:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.config_tgl + .config_tgl_label:after {
    left: 0;
}
.config_tgl + .config_tgl_label:before {
    display: none;
}
.config_tgl:checked + .config_tgl_label:after {
    left: 50%;
}

.config_tgl + .config_tgl_label {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.config_tgl + .config_tgl_label:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.config_tgl:checked + .config_tgl_label {
    background: #777777;
}