.far.fa-sticky-note{
    color: #666666;
    font-size: 30px;
    animation: menuOn 1s;
    -moz-animation: menuOn 1s; /* Firefox */
    -webkit-animation: menuOn 1s; /* Safari and Chrome */
    -o-animation: menuOn 1s; /* Opera */
    line-height: 60px;
}
.fas.fa-tasks{
    line-height: 60px;
    color: #999999;
    font-size: 24px;
    animation: menuOff 1s;
    -moz-animation: menuOff 1s; /* Firefox */
    -webkit-animation: menuOff 1s; /* Safari and Chrome */
    -o-animation: menuOff 1s; /* Opera */
}
@keyframes menuOn {
    0% {
        font-size: 24px;
        color: #999999;
    }
    50% {
        font-size: 30px;
        color: #666666;
    }
}
@keyframes menuOff{
    0% {
        font-size: 30px;
        color: #666666;
    }
    50% {
        font-size: 24px;
        color: #999999;
    }
}