.container_main{

}

.button_add_memo{
    position: fixed;
    text-align: center;
    left: 50%;
    bottom: 0;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: white;
    background-color: var(--nav-background-color);
    width: 48px;
    height: 48px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
    transition: all .3s ease-in-out;
    z-index: 2000;
}
.button_add_memo span{
    margin-top:6px;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border-radius: 100%;
}
.button_add_memo span:hover{
    background-color: rgba(0,0,0,0.05);
}

.container_context{
    --memo-background-color: #ffefd0;
    --memo-bar-color: rgba(255,255,0,0.1);
    --memo-text-color: black;
    --memo-menu-color: #505050;
    --memo-edit-color: #666666;

    --memo-content-width: calc(100% - 40px);
    --memo-width: calc(100% - 20px);
    --memo-height: 380px;
    display: grid;
    --memo-bar-font-size: 14px;
    --memo-content-font-size: 14px;
    transition: 2s;
    grid-template-columns: repeat( auto-fit, minmax(320px, 0.3fr) );
}
.container_context.white{
    --memo-background-color: ghostwhite;
    --memo-bar-color: #E0E0E0;
    --memo-text-color: #333333;
    --memo-menu-color: #505050;
    --memo-edit-color: #666666;

}
.container_context.blue{
    --memo-background-color: royalblue;
    --memo-bar-color: blueviolet;
    --memo-text-color: #f0f0f0;
    --memo-menu-color: #B5B5B5;
    --memo-edit-color: #B0B0B0;
}
.container_context.dark{
    --memo-background-color: #404040;
    --memo-bar-color: #333333;
    --memo-text-color: #F0E090;
    --memo-menu-color: #B5B5B5;
    --memo-edit-color: #B0B0B0;
}
.container_context.small{
    --memo-content-width: 280px;
    --memo-width: 300px;
    --memo-height: 300px;
    grid-template-columns: repeat( auto-fit, minmax(320px, 0.3fr) );
}
.container_context.medium{
    --memo-content-width: 300px;
    --memo-width: 320px;
    --memo-height: 360px;
    grid-template-columns: repeat( auto-fit, minmax(340px, 0.3fr) );
}
.container_context.big{
    --memo-content-width: 340px;
    --memo-width: 360px;
    --memo-height: 400px;
    grid-template-columns: repeat( auto-fit, minmax(360px, 0.3fr) );
}

.container_context.smallFont{
    --memo-bar-font-size: 14px;
    --memo-content-font-size: 12px;
}
.container_context.bigFont{
    --memo-bar-font-size: 14px;
    --memo-content-font-size: 16px;
}

.memo{
    justify-content: center;
    align-items: center;
    display: none;
    margin: 10px 5px 15px 5px;
    position: relative;
    width: 300px;
    width: var(--memo-width);
    height: 360px;
    height: var(--memo-height);
    min-height: 300px;
    background-color: #ffefd0;
    background-color: var(--memo-background-color);
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.12),
                0 5px 7px -1px rgba(0,0,0,0.1);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.cover_memo{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.1);
    top:0;
    left:0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.memo.ng-move,
.memo.ng-enter {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.memo.ng-leave {
    -webkit-transition:all linear 0.0s;
    transition:all linear 0.0s;
}
.memo.ng-leave.ng-leave-active,
.memo.ng-move,
.memo.ng-enter {
    opacity:0;
}
.memo.ng-leave,
.memo.ng-move.ng-move-active,
.memo.ng-enter.ng-enter-active {
    opacity:1;
}
.memo::before,
.memo::after {
    visibility: visible;
    content: '';
    position: absolute;
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 10px 16px rgba(0,0,0,0.7);
    z-index: -1;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
}

.memo::before{
    left:15px;
    transform: skew(-7deg) rotate(-7deg);
}
.memo::after{
    right: 15px;
    transform: skew(7deg) rotate(7deg);
}
.memo:hover::before,
.memo:hover::after{
    box-shadow: 0 2px 14px rgba(0,0,0,0.4);
}
.memo:hover:before{
    left:5px;
}
.memo:hover:after{
    right:5px;
}

.container_memo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bar_memo{
    width:100%;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
.bar_memo.selected{
    background-color: rgba(255,255,0,0.1);
    background-color: var(--memo-bar-color);
    animation: bar-memo-animation 0.3s;
    -o-animation: bar-memo-animation 0.3s;
    -webkit-animation: bar-memo-animation 0.3s;
    -moz-animation: bar-memo-animation 0.3s;
}

.memo_content{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-size: var(--memo-content-font-size);
    line-height: 1.5rem;
    width: 280px;
    width: var(--memo-content-width);
    margin: 0 auto;
    height: calc(100% - 50px);
    min-height: 300px;
    resize: none;
    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border:none;
    color: black;
    color: var(--memo-text-color);
}
.memo_content ul{
    padding: 10px 10px 10px 20px;
    margin: 0;
}
hr{
    border-top: 1px solid black;
    border-top: 1px solid var(--memo-text-color);
}
.memo_content::-webkit-scrollbar {display:none;}


.memo_menu_controls> i{
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    color: #505050;
    color: var(--memo-menu-color);
    transition: all 0.2s ease-in-out;
}
.memo_menu_controls> i:hover{
    opacity: 0.8;
}

.memo_menu_items> i{
    cursor: pointer;
    color: #666666;
    color: var(--memo-edit-color);
    font-size: 14px;
    font-size: var(--memo-bar-font-size);
    padding-left: 5px;
    padding-right: 5px;
    transition: color 0.2s ease-in-out;
}
.memo_menu_items> i:hover{
    opacity: 0.8;
}

.context_bold{
    font-weight: bold;
}


.far.fa-sticky-note{
    color: royalblue;
    font-size: 24px;
    animation: menuOn 0.5s;
    -moz-animation: menuOn 0.5s; /* Firefox */
    -webkit-animation: menuOn 0.5s; /* Safari and Chrome */
    -o-animation: menuOn 0.5s; /* Opera */
}

.memo-pin{
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    float: right;
    -webkit-filter: opacity(0.2) drop-shadow(0 0 0 white);
    filter: opacity(0.2) drop-shadow(0 0 0 white);

}
.memo-pin.fix{
    -webkit-filter: opacity(.9) drop-shadow(0 0 0 royalblue);
    filter: opacity(.9) drop-shadow(0 0 0 royalblue);
}

.memo-pin:hover{
    -webkit-filter: opacity(.9) drop-shadow(0 0 0 royalblue);
    filter: opacity(.9) drop-shadow(0 0 0 royalblue);
}

@keyframes menuOn {
    0% {
        color: #999999;
    }
    100% {
        color: royalblue;
    }
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    50%{
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes bar-memo-animation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}