
.modal {
    font-family: 'Roboto', sans-serif;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    outline: 0;
}
/* The Close Button */
.close {
    color: #666666;
    float: right;
    font-size: 18px;
    margin-right:20px;
    transition: 0.2s color ease-in-out;
    -moz-transition: 0.2s color ease-in-out;
    -webkit-transition: 0.2s color ease-in-out;
}

.close:hover,
.close:focus {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}


/* Modal Header */
.modal-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.modal-header h1{
    color: #666666;
    color: var(--schedule-modal-color);
    margin:15px;
    font-size: 21px;
}

/* Modal Body */
.modal-body {
    height: calc(100% - 80px);
    margin: 0 10px 10px 10px;
}
.form_input_day{
    width:100%;
    text-align: center;
}
.form_input_day table{
    margin-top:10px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
.form_input_day tbody{
    display: table;
    width: 100%;
}

.form_input_day table td{
    margin: 2px 10px 2px 10px;
    padding: 5px 0 5px 0;
}
.form_input_day table i{
    font-weight: bold;
}

.form_input_day input{
    border:none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}
.form_input_day input[type='text']{
    color: #666666;
    color: var(--schedule-modal-color);
    padding: 3px;
    width:95%;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}


.form_input_day input:focus{
    outline: 0;
    background-color: rgba(0,0,0,0.05);
    border-bottom: 1px solid transparent;
}
.form_input_day input[type=range]:focus{
    background-color: transparent;
    border-bottom: none;
}

.form_input_day textarea{
    color: #808080;
    color: var(--schedule-modal-sub-color);
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    width:95%;
    border:none;
    box-shadow: none;
    resize: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}
.form_input_day textarea:focus{
    outline: none;
    background-color: rgba(0,0,0,0.05);
    border-bottom: 1px solid transparent;
}
.form_input_day button{
    outline: 0;
    border:none;
    box-shadow: none;
    font-size: 14px;
    padding:5px 10px 5px 10px;
    margin:5px auto;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
    color: royalblue;
}
.form_input_day button:hover{
    background-color: rgba(0,0,0,0.05);
}

.container_day_list{
    height: calc(100% - 214px);
    border-top: 3px solid rgba(0,0,0,0.05);
    overflow-y: auto;
    transition: 0.1s height ease-in-out;
    -moz-transition: 0.1s height ease-in-out;
    -webkit-transition: 0.1s height ease-in-out;
}
.day_list{

}
.container_day_list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F9F9F9;
}

.container_day_list::-webkit-scrollbar
{
    width: 6px;
    background-color: #F9F9F9;
}

.container_day_list::-webkit-scrollbar-thumb
{
    background-color: #999999;
}


.day_list .item{
    border-radius: 5px;
    padding: 2px;
    margin:0px 10px 0px 5px;
    text-align: left;
    color: #666666;
    color: var(--schedule-modal-color);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.day_list .item p{
    margin:0;
}

.item:hover{
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.05);
}

/* Modal Content */
.modal-content {
    margin-top:80px;
    background-color: #FEFEFE;
    background-color: var(--schedule-modal-background-color);
    color: #666666;
    color: var(--schedule-modal-color);
    padding: 0;
    height: calc(100% - 100px);
    width:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.1);
    animation-name: animateShow;
    animation-duration: 0.2s;

}




/* modal Event */
.modal_event-content {
    background-color: #FEFEFE;
    background-color: var(--schedule-modal-background-color);
    color: #666666;
    color: var(--schedule-modal-color);
    padding: 0;
    height: auto;
    width:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.1);
    animation-name: animateFadeShow;
    animation-duration: 0.2s;
}
.modal-header.event{
    height: 40px;
    line-height: 40px;
}
.modal-body.event{
    margin-top:0;
}
.modal_menu{
    margin-left:12px;
}
.modal_menu_cover{
    border-radius: 100%;
    background-color: transparent;
    text-align: center;
    width:32px;
    height:32px;
    line-height: 32px;
    display: inline-block;
}
.modal_menu_cover i{
    margin:0 auto;
    cursor: pointer;
    color: #666666;
    transition: 0.2s color ease-in-out;
    -moz-transition: 0.2s color ease-in-out;
    -webkit-transition: 0.2s color ease-in-out;
}
.modal_menu_cover:hover > i{
    color: #333333;
}
.form_todo_day{
    font-family: 'Roboto', sans-serif;
}
.form_todo_day table{
    margin-top:0;
    display: inline-block;
    width: 100%;
}
.form_todo_day tbody{
    display: table;
    width: 100%;
}

.form_todo_day table td{
    margin: 10px 5px 10px 5px;
    padding: 5px;
}
.form_todo_day table i{
    font-weight: bold;
}

.form_todo_day input{
    border:none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 5px;
}
.form_todo_day input[type='text']:focus, input[type='date']:focus, input[type='time']:focus{
    outline: 0;
    background-color: rgba(0,0,0,0.05);
}
.form_todo_day input[type='text'],input[type='date'],input[type='time']{
    font-family: 'Roboto', sans-serif;
    color: #666666;
    color: var(--schedule-modal-color);
    padding: 3px;
    border:none;
    box-shadow: none;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}

.form_todo_day textarea{
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: #808080;
    color: var(--schedule-modal-sub-color);
    background-color: transparent;
    width:95%;
    border:none;
    box-shadow: none;
    resize: none;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}
.form_todo_day textarea:focus{
    outline: none;
    background-color: rgba(0,0,0,0.05);
}
.form_todo_day button{
    outline: 0;
    border:none;
    box-shadow: none;
    font-size: 18px;
    padding:10px 20px 10px 20px;
    margin:0 auto;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #808080;
    color: var(--schedule-modal-sub-color);
}
.form_input_day button:hover{
    background-color: rgba(0,0,0,0.05);
}


/* Tab Menu */
.tab_menu_container{
    text-align: left;
    padding-bottom: 10px;
}
.tab_menu_container span{
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}
.tab_menu_btn {
    width:80px;
    height:40px;
    transition:0.3s all;
    cursor: pointer;
    border-radius: 5px;
    color: #666666;
    color:var(--schedule-modal-color);
}
.tab_menu_btn.on {
    font-weight:700;
    color:royalblue;
}
.tab_menu_btn:hover {
    background-color: rgba(0,0,0,0.05);
}
.tab_menu_btn.on:hover{
    background-color: transparent;
}
.tab_box {
    display:none;
    padding:20px;
}
.tab_box.on {
    display:block;
}

.container_todo_clear{
    display: inline-block;
    margin: 10px -10px 5px -10px;
    padding: 10px 10px 5px 10px;

    width:100%;
    text-align: right;
    font-weight: 700;
    color: royalblue;
}





/* Common */
input[type=checkbox]{
    width:16px;
    height: 16px;
    margin:0;
}

.container_config_tgl{
    text-align: left;
    float: right;
}
.config_tgl {
    display: none;
}
.config_tgl, .config_tgl:after, .config_tgl:before, .config_tgl *, .config_tgl *:after, .config_tgl *:before, .config_tgl + .config_tgl_label {
    box-sizing: border-box;
}
.config_tgl::-moz-selection, .config_tgl:after::-moz-selection, .config_tgl:before::-moz-selection, .config_tgl *::-moz-selection, .config_tgl *:after::-moz-selection, .config_tgl *:before::-moz-selection, .config_tgl + .config_tgl_label::-moz-selection {
    background: none;
}
.config_tgl::selection, .config_tgl:after::selection, .config_tgl:before::selection, .config_tgl *::selection, .config_tgl *:after::selection, .config_tgl *:before::selection, .config_tgl + .config_tgl_label::selection {
    background: none;
}
.config_tgl + .config_tgl_label {
    outline: 0;
    display: inline-block;
    width: 3em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.config_tgl + .config_tgl_label:after, .config_tgl + .config_tgl_label:before {
    position: relative;
    display: inline-block;
    content: "";
    width: 50%;
    height: 100%;
}
.config_tgl + .config_tgl_label:after {
    left: 0;
}
.config_tgl + .config_tgl_label:before {
    display: none;
}
.config_tgl:checked + .config_tgl_label:after {
    left: 50%;
}

.config_tgl + .config_tgl_label {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.config_tgl + .config_tgl_label:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.config_tgl:checked + .config_tgl_label {
    background: #4285f4;
}

/*Checkboxes styles*/
.check {
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.check:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -10px;
    left: -7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.check:hover:before {
    opacity: 1;
}
.check:hover svg {
    stroke: #4285f4;
}
#chk_allday:checked + .check svg {
    stroke: #4285f4;
}
#chk_allday:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
#chk_allday:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}


/* Add Animation */
@keyframes animateShow {
    from {margin-top:100px; opacity: 0}
    to {margin-top:80px; opacity: 1}
}
@keyframes animateHide {
    from {margin-top:80px; opacity: 1}
    to {margin-top:100px; opacity: 0}
}

@keyframes animateFadeShow {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes animateFadeHide {
    from {opacity: 1}
    to {opacity: 0}
}

