
.modal {
    font-family: JSDongkang-Regular;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    outline: 0;
}
/* The Close Button */
.close {
    color: #666666;
    float: right;
    font-size: 18px;
    margin-right:20px;
}

.close:hover,
.close:focus {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}


/* Modal Header */
.modal-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.modal-header h1{
    color: var(--schedule-modal-color);
    margin:15px;
    font-size: 24px;
}

/* Modal Body */
.modal-body {
    height: calc(100% - 80px);
    margin: 10px;
}
.form_input_day{
    height: 170px;
    font-size: 21px;
    text-align: center;
}
.form_input_day ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.form_input_day li{
    width: 100%;

    margin-bottom: 10px;
}
.form_input_day input{
    border:none;
    box-shadow: none;
    background-color: transparent;
}
.form_input_day input:focus{
    outline: 0;
}
.form_input_day input[type='text']{
    color: var(--schedule-modal-sub-color);
    font-size: 21px;
    padding: 3px;
    width:95%;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.form_input_day textarea{
    color: var(--schedule-modal-sub-color);
    background-color: transparent;
    font-family: JSDongkang-Regular;
    font-size: 16px;
    width:95%;
    border:none;
    box-shadow: none;
    resize: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
.form_input_day textarea:focus{
    outline: none;
}
.form_input_day button{
    outline: 0;
    border:none;
    box-shadow: none;
    font-size: 18px;
    padding:10px 20px 10px 20px;
    margin:0 auto;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--schedule-modal-sub-color);
}
.form_input_day button:hover{
    background-color: rgba(0,0,0,0.05);
}

.container_day_list{
    height: calc(100% - 190px);
    overflow-y: auto;
}
.day_list{

}
.container_day_list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F9F9F9;
}

.container_day_list::-webkit-scrollbar
{
    width: 6px;
    background-color: #F9F9F9;
}

.container_day_list::-webkit-scrollbar-thumb
{
    background-color: #999999;
}


.item{
    border-radius: 5px;
    padding: 2px;
    margin:5px 10px 5px 5px;
    text-align: left;
    font-size: 14px;
    color: var(--schedule-modal-color);
}
.item:hover{
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}
.close_item{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    float: right;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    padding:4px;
}
.close_item:hover{
    background-color: rgba(0,0,0,0.05);
}

/* Modal Content */
.modal-content {
    margin-top:80px;
    background-color: var(--schedule-modal-background-color);
    color: var(--schedule-modal-color);
    padding: 0;
    height: calc(100% - 100px);
    width:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.1);
    animation-name: animateShow;
    animation-duration: 0.4s;

}
/* Add Animation */
@keyframes animateShow {
    from {margin-top:100px; opacity: 0}
    to {margin-top:80px; opacity: 1}
}
@keyframes animateHide {
    from {margin-top:80px; opacity: 1}
    to {margin-top:100px; opacity: 0}
}

