<div class="cal_header">
    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="week names">
    <span class="day" style="color: red;">일</span>
    <span class="day">월</span>
    <span class="day">화</span>
    <span class="day">수</span>
    <span class="day">목</span>
    <span class="day">금</span>
    <span class="day" style="color: royalblue;">토</span>
</div>
<div class="container_days">
    <div ng-repeat="week in weeks" ng-class="{ true: 'week', false: 'week six' }[weeks.length===6]">
        <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }"  ng-repeat="day in week.days">
            <p ng-class="{'day_number holiday': $index===0, 'day_number saturday': $index===6, 'day_number': $index!=0 && $index!=6}"  ng-click="select(day, $event)">{{day.number}}</p><br/>
            <div ng-click="viewEvent(item, $event)" ng-class="{0:'item', 1:'item todo'}[item.event_type]" ng-repeat="item in day.items" >
<!--                <span style="display:inline-block; border-radius: 100%; background-color: royalblue; padding:4px; margin-left:10px; margin-right:10px;"></span>-->
                <span ng-show="item.event_type===1" style="margin:3px;"><i class="far fa-calendar-check"></i></span> {{item.title}}
            </div>
        </span>
    </div>
</div>
