<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOMO | 메모</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                로고
            </div>
            <div class="menu">
                <ul>
                    <li><a href="./memo">메모</a></li>
                    <li><a href="./manage">관리</a></li>
                </ul>
            </div>
            <div class="account">
                로그인
            </div>
        </header>
        <section class="container_main">
            <nav class="nav">
                네비
            </nav>
            <div class="main">
               <div class="container_context">
                   <article class="memo">
                       <div class="container_memo">
                           <p>메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모
                               메모메모메모메모메모메모메모메모메모메모메모메모메모메모메모

                           </p>
                       </div>
                   </article>
                   <article class="memo">
                       <div class="container_memo">
                           <p>메모</p>
                       </div>
                   </article>
                   <article class="memo">
                       <div class="container_memo">
                           <p>메모</p>
                       </div>
                   </article>
               </div>
            </div>
            <div class="button_add_memo">
                +
            </div>
        </section>

    </div>
</body>
</html>