<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TOMO | 메모, 일정관리</title>
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/util.css">
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <div class="container">
            <section class="info">
                <h1 class="m-t-100 fs-32">메모와 일정관리를 손쉽게 시작하세요</h1>
                <p class="fs-14 m-b-50">Tomo 서비스는 무료가입으로 메모기능과 스케쥴기능을 쉽고 빠르게 가능하도록 만들어줍니다.</p>
                <a class="btn_start fs-20" href="./memo">
                    시작하기
                </a>
                <br/>
                <img class="m-t-50" src="img/index/index_1.png"/>
            </section>


        </div>
        <footer>
            <ul>
                <li>약관</li>
                <li>개인정보 보호 정책</li>
            </ul>
            <div class="m-t-20 m-b-20">Copyright © 2020 Tomo All rights reserved.</div>
        </footer>
    </body>
</html>
