<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TOMO | 로그인</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/util.css">
</head>
<body>
    <div class="container">
        <div class="container_login">
            <div class="panel_logo">
                <a href="/"><img src="img/logo.png" alt="logo" height="50px"/></a>
            </div>
            <div class="panel_login">
                <form action="/login" method="post" class="form_login validate-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "! 이메일 형식을 입력해주세요">
                        <input class="input100" type="text" name="username" placeholder="이메일">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="far fa-envelope"></i>
						</span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "! 비밀번호를 입력해주세요">
                        <input class="input100" type="password" name="password" placeholder="비밀번호">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fas fa-unlock-alt"></i>
						</span>
                    </div>

                    <div class="contact100-form-checkbox m-l-4 p-t-10">
                        <input class="input-checkbox100" name="remember-me" id="ckb1" type="checkbox">
                        <label class="label-checkbox100 fs-13" for="ckb1">
                            로그인 상태 유지
                        </label>
                    </div>

                    <div class="container-login100-form-btn p-t-20">
                        <button type="submit" class="login100-form-btn">
                            로그인
                        </button>
                    </div>
                    <div class="text-center w-full p-t-10">
                        <span class="fs-11 float-r">
                            계정이 없다면 ? &nbsp;
                            <a class="txt1 hov1" href="./signup">
                                회원가입
                            </a>
                        </span>

                    </div>
                    <div class="fs-12 p-t-30 p-b-15" style="color: #666666;text-align: center;width: 100%">
                        또는 회원가입 없이
                    </div>
                    <br/>
                    <a href="/oauth2/authorization/naver" class="btn-naver m-t-5">
                        <img src="img/sns/naver.png" alt="naver">
                        <span style="width: calc(100% - 30px); height: 100%; line-height: 34px; text-align:center; border-left:1px solid rgba(0,0,0,0.15);">네이버 아이디로 로그인</span>
                    </a>
                    <a href="/oauth2/authorization/google" class="btn-google m-t-5">
                        <img src="img/sns/google.png" alt="google">
                        <span style="width: calc(100% - 30px); height: 100%; line-height: 32px; text-align:center; border-left:1px solid rgba(0,0,0,0.15);">구글 아이디로 로그인</span>
                    </a>
                </form>
            </div>

        </div>
    </div>

    <!--Script-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>