<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
    <div style="border-radius: 5px; border:1px solid rgba(0,0,0,0.1); background-color: white; color:#303030; padding: 30px; margin:0 auto; width: 500px; font-family: 'Noto Sans KR', sans-serif, cursive">
        <img src="http://www.toomo.site/img/logo.png" alt="logo" width="270" style="margin-top:10px; margin-bottom:10px;"/>
        <h1 style="font-size:24px; margin:20px 0 20px 0;">TOOMO 서비스 비밀번호 재설정</h1>
        <div style="font-size:14px; margin-top:20px;">
            <p>안녕하세요. TOOMO입니다.</p>
            <br/>
            <p>비밀번호 재설정 요청에 따라 전송된 이메일입니다.</p>
            <p>비밀번호를 잃어버린사실이 맞다면 아래 버튼을 눌러 비밀번호를 재설정 하시기 바랍니다.</p>
            <br/>
            <p style="margin-bottom: 20px;">감사합니다.</p>
            <br/>
            <br/>
            <br/>
            <span style="font-size:16px; margin:0 auto; border-radius: 5px; padding: 10px 20px 10px 20px; background-color: royalblue; display: inline-block;">
                <a target="_blank" th:href="${mail_data}" style="color:white; text-decoration: none; font-weight: bold;">
                    비밀번호 재설정 하기
                </a>
            </span>
        </div>
    </div>
</body>
</html>