<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
    <div style="border-radius: 5px; border:1px solid rgba(0,0,0,0.1); background-color: white; color:#303030; padding: 30px; margin:0 auto; width: 500px; font-family: 'Noto Sans KR', sans-serif, cursive">
        <img src="http://www.toomo.site/img/logo.png" alt="logo" width="270" style="margin-top:10px; margin-bottom:10px;"/>
        <h1 style="font-size:24px; margin:20px 0 20px 0;">TOOMO 서비스 이메일 인증</h1>
        <div style="font-size:14px; margin-top:20px;">
            <p>안녕하세요. TOOMO입니다.</p>
            <br/>
            <p>TOOMO에 회원가입을 해주셔서 감사합니다.</p>
            <p>서비스를 이용하기 전에 본인확인을 위해 발송된 이메일입니다.</p>
            <br/>
            <p>아래 링크를 클릭하시면 이메일 인증이 완료됩니다.</p>
            <p style="margin-bottom: 20px;">감사합니다.</p>
            <br/>
            <br/>
            <br/>
            <span style="font-size:16px; margin:0 auto; border-radius: 5px; padding: 10px 20px 10px 20px; background-color: royalblue; display: inline-block;">
                <a target="_blank" th:href="${mail_data}" style="color:white; text-decoration: none; font-weight: bold;">
                    이메일 인증 확인
                </a>
            </span>
        </div>
    </div>
</body>
</html>