<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_main">

<th:block layout:fragment="title">TOMO | 메모</th:block>

<section ng-app="MyApp" ng-controller="memoController" layout:fragment="content" class="container_main">
    <nav class="nav">
        네비
    </nav>
    <div class="main">
        <div class="container_context" id="memo_parent">
            <article ng-repeat="memo in memos" class="memo" id="memo_{{memo.id}}">
                <div  class="container_memo">
                    <button ng-click="removeMemo(memo)">제거</button>
                    <p>{{memo.context}}</p>
                </div>
            </article>
        </div>
    </div>
    <div class="button_add_memo" ng-click="addMemo()">
        <i class="fas fa-edit" style="font-size: 20px;color: rgba(0,0,0,0.5); margin:0 auto;text-align: center;"></i>
    </div>
</section>
