<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_main">

<th:block layout:fragment="title">TOMO | 메모</th:block>

<section ng-app="MyApp" ng-controller="memoController" layout:fragment="content" class="container_main">
    <nav class="nav">
        네비
    </nav>
    <div class="main">
        <div class="container_context" id="memo_parent">
            <article ng-repeat="memo in memos | orderBy:['!-fix', '-dateOfCreate']" class="memo" id="memo_{{memo.id}}">
                <i ng-click="setPin(false, memo)" ng-show="memo.fix=='1'" class="fas fa-thumbtack fix"></i>
                <i ng-click="setPin(true, memo)" ng-show="memo.fix=='0'" class="fas fa-thumbtack"></i>
                <div  class="container_memo" ng-click="editMemo(memo.id)">
                    <div class="bar_memo">
                        <i ng-show="config.editMode && config.editTarget==memo.id" ng-click="removeMemo(memo)" class="far fa-trash-alt"></i>
                        <i ng-show="config.editMode && config.editTarget==memo.id" ng-click="updateMemo(memo)" class="fas fa-check"></i>
                    </div>
                    <div ng-bind-html="memo.context" ng-show="!config.editMode || config.editTarget!=memo.id" class="memo_content textarea">
                        {{memo.context}}
                    </div>
                    <div ng-bind-html="memo.context" id="memo_context_{{memo.id}}" ng-show="config.editMode && config.editTarget==memo.id" class="memo_content textarea" contenteditable="true">
                        {{memo.context}}
                    </div>
                </div>
                <div ng-show="config.editMode && config.editTarget!=memo.id" style="position:absolute; z-index: 10; width: 262px; height: 322px; background-color: rgba(0,0,0,0.05);top:0;left:0;"></div>
            </article>
        </div>
    </div>
    <div class="button_add_memo" ng-click="addMemo()">
        <i class="fas fa-edit" style="font-size: 20px;color: rgba(0,0,0,0.5); margin:0 auto;text-align: center;"></i>
    </div>
</section>
