<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>toomo | 회원가입</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/util.css">
</head>
<body>
    <div class="container">
        <div class="container_login">
            <div class="panel_logo">
                <a href="/"><img src="img/logo.png" alt="logo" height="50px"/></a>
            </div>
            <div class="panel_login">
                <form modelAttribute="resetAccount" class="form_login validate-form" th:action="@{/resetpassword}" method="post" autocomplete="off">
                    <input type="hidden" name="email" th:value="${resetAccount.getEmail()}"/>
                    <input type="hidden" name="nickname" th:value="${resetAccount.getNickname()}"/>
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "! 새로운 비밀번호를 입력해주세요">
                        <input class="input100" type="password" name="pwd" placeholder="비밀번호">
                        <span class="focus-input100"></span>
                        <span class="error pwd" th:text="${valid_pwd}"></span>
                        <span class="symbol-input100">
							<i class="fas fa-unlock-alt"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate = "! 비밀번호를 입력해주세요">
                        <input class="input100" type="password" name="pwd2" placeholder="비밀번호 재입력">
                        <span class="focus-input100"></span>
                        <span class="error pwd2" th:text="${valid_pwd2}"></span>
                        <span class="error isEqualsPassword" th:text="${valid_pwd2==null} ? ${valid_equalsPassword}"></span>
                        <span class="symbol-input100">
							<i class="fas fa-unlock-alt"></i>
						</span>
                    </div>
                    <div class="container-login100-form-btn p-t-20">
                        <button type="submit" class="login100-form-btn">
                            비밀번호 재설정
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!--Script-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>