<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_main">
<th:block layout:fragment="title">TOMO | 검색결과</th:block>
<th:block layout:fragment="js">
    <script src="js/search.js"></script>
</th:block>
<th:block layout:fragment="css">

</th:block>
<section ng-app="SearchApp" ng-controller="searchController" layout:fragment="content" class="container_main">
    <div class="main">
        <div class="container_context" style="display: none;" ng-style="display()">
            <div ng-show="searchedItems.length===0">검색결과가 없습니다.</div>
            <div ng-repeat="item in searchedItems">
                <p>{{item.title}}</p>
            </div>
        </div>
    </div>
</section>